In [1]:
import pandas as pd

data = pd.read_csv('vehicles_messy.csv')

/Users/talalagedeon/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [3]:
data.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,37843.000000,37843.000000,37843.0,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,0.216169,0.0,0.023531,17.941389,4.042737,0.520149,0.327163,0.000406,0.184790,...,22.587229,0.652380,33.619221,0.933845,2000.064398,-2658.999022,0.004360,0.069313,0.068203,0.068573
std,4.575950,1.141527,0.0,0.427647,6.660360,9.645820,3.837874,3.542596,0.039918,2.904558,...,9.350163,5.284547,10.048326,6.059456,10.390588,2553.098329,0.142776,1.966806,1.871986,1.913647
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.000000,0.000000,27.100000,0.000000,1990.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.000000,0.000000,33.000000,0.000000,2001.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600625,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.139300,0.000000,38.109600,0.000000,2009.000000,-750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,138.000000,138.304000,127.000000,127.093000,5.350000,122.000000,...,197.577100,181.560900,159.100000,152.187800,2017.000000,4000.000000,7.000000,97.000000,79.000000,88.000000

In [4]:
data.shape

(37843, 83)

In [5]:
data.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [6]:
data['fuelType'].head(4)

0    Regular
1    Regular
2    Regular
3    Regular
Name: fuelType, dtype: object

In [7]:
data.dtypes.value_counts()

float64    32
int64      27
object     23
bool        1
dtype: int64

In [8]:
data.isnull().head(3)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False

In [9]:
data.isnull().sum()

barrels08              0
barrelsA08             0
charge120              0
charge240              0
city08                 0
city08U                0
cityA08                0
cityA08U               0
cityCD                 0
cityE                  0
cityUF                 0
co2                    0
co2A                   0
co2TailpipeAGpm        0
co2TailpipeGpm         0
comb08                 0
comb08U                0
combA08                0
combA08U               0
combE                  0
combinedCD             0
combinedUF             0
cylinders            123
displ                120
drive               1189
engId                  0
eng_dscr           15403
feScore                0
fuelCost08             0
fuelCostA08            0
                   ...
rangeCity              0
rangeCityA             0
rangeHwy               0
rangeHwyA              0
trany                 11
UCity                  0
UCityA                 0
UHighway               0
UHighwayA              0
VClass                 0
year                   0
youSaveSpend           0
guzzler            35562
trans_dscr         22796
tCharger           32657
sCharger           37177
atvType            34771
fuelType2          36435
rangeA             36440
evMotor            37281
mfrCode            30818
c240Dscr           37806
charge240b             0
c240bDscr          37807
createdOn              0
modifiedOn             0
startStop          31705
phevCity               0
phevHwy                0
phevComb               0
Length: 83, dtype: int64

In [10]:
null_cols = data.isnull().sum()
# print(null_cols)
null_cols[null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [11]:
type(null_cols)

pandas.core.series.Series

In [43]:
data.shape

(36830, 15)

In [44]:
drop_cols = list(null_cols[null_cols > 10000].index)
print(drop_cols)

[]

In [45]:
data = data.drop(drop_cols, axis=1)

In [46]:
null_cols = data.isnull().sum()

In [47]:
null_cols[null_cols > 0]

displ        120
cylinders    123
drive        886
dtype: int64

In [48]:
null_displ = data[(data['displ'].isnull()==True)]
null_displ.head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
7138,Nissan,Altra EV,2000,NaN,NaN,Automatic,NaN,Midsize Station Wagons,Electricity,0.240,81,91,85,0.0,800
7139,Toyota,RAV4 EV,2000,NaN,NaN,Automatic,2-Wheel Drive,Sport Utility Vehicle - 2WD,Electricity,0.282,81,64,72,0.0,900
8143,Toyota,RAV4 EV,2001,NaN,NaN,Automatic,2-Wheel Drive,Sport Utility Vehicle - 2WD,Electricity,0.282,81,64,72,0.0,900
8144,Ford,Th!nk,2001,NaN,NaN,Automatic,NaN,Two Seaters,Electricity,0.312,74,58,65,0.0,1000
8146,Ford,Explorer USPS Electric,2001,NaN,NaN,Automatic,2-Wheel Drive,Sport Utility Vehicle - 2WD,Electricity,0.522,45,33,39,0.0,1700

In [49]:
extract = ['year', 'make', 'model', 'trany', 'drive','fuelType','cylinders', 'displ']
null_displ = null_displ[extract]
null_displ.head(6)

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,Automatic,NaN,Electricity,NaN,NaN
7139,2000,Toyota,RAV4 EV,Automatic,2-Wheel Drive,Electricity,NaN,NaN
8143,2001,Toyota,RAV4 EV,Automatic,2-Wheel Drive,Electricity,NaN,NaN
8144,2001,Ford,Th!nk,Automatic,NaN,Electricity,NaN,NaN
8146,2001,Ford,Explorer USPS Electric,Automatic,2-Wheel Drive,Electricity,NaN,NaN
8147,2001,Nissan,Hyper-Mini,Automatic,NaN,Electricity,NaN,NaN

In [50]:
data.iloc[0]

make                      Alfa Romeo
model             Spider Veloce 2000
year                            1985
displ                              2
cylinders                          4
trany                    Manual 5spd
drive               Rear-Wheel Drive
VClass                   Two Seaters
fuelType                     Regular
barrels08                    15.6957
city08                            19
highway08                         25
comb08                            21
co2TailpipeGpm                423.19
fuelCost08                      1600
Name: 0, dtype: object

In [51]:
data.iloc[0][0]

'Alfa Romeo'

In [52]:
data.loc[data['cylinders']==2]

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
714,Mazda,RX-7,1994,1.3,2.0,Automatic,Rear-Wheel Drive,Two Seaters,Premium,18.311667,16,22,18,493.722222,2250
715,Mazda,RX-7,1994,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,15,23,18,493.722222,2250
1785,Mazda,RX-7,1995,1.3,2.0,Automatic,Rear-Wheel Drive,Two Seaters,Premium,18.311667,15,22,18,493.722222,2250
1786,Mazda,RX-7,1995,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,15,23,18,493.722222,2250
1946,Mazda,RX-7,1985,1.1,2.0,Automatic,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
1957,Mazda,RX-7,1985,1.1,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,20,17,522.764706,1950
8145,Mazda,RX-7,1986,1.3,2.0,Automatic,Rear-Wheel Drive,Minicompact Cars,Regular,18.311667,15,22,18,493.722222,1850
10539,Mazda,RX-8,2004,1.3,2.0,Manual 6spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
10540,Mazda,RX-8,2004,1.3,2.0,Automatic,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
11803,Mazda,RX-8,2005,1.3,2.0,Manual 6spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
11804,Mazda,RX-8,2005,1.3,2.0,Automatic,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
12221,Mazda,RX-7,1985,1.1,2.0,Automatic,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,20,17,522.764706,1950
13055,Mazda,RX-8,2006,1.3,2.0,Manual 6spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
13056,Mazda,RX-8,2006,1.3,2.0,Automatic,Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150
13330,Mazda,RX-7,1985,1.1,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
14318,Mazda,RX-7,1985,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
14455,Mazda,RX-8,2007,1.3,2.0,Manual 6spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
14456,Mazda,RX-8,2007,1.3,2.0,Automatic,Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150
15670,Mazda,RX-8,2008,1.3,2.0,Manual 6spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
15671,Mazda,RX-8,2008,1.3,2.0,Automatic,Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150
16738,Mazda,RX-8,2009,1.3,2.0,Manual 6spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
16739,Mazda,RX-8,2009,1.3,2.0,Automatic,Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150
18235,Mazda,RX-7,1984,1.1,2.0,Automatic,NaN,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
18236,Mazda,RX-7,1984,1.1,2.0,Manual 5spd,NaN,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
18238,Mazda,RX-7,1984,1.3,2.0,Manual 5spd,NaN,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
20432,Mazda,RX-8,2010,1.3,2.0,Manual 6spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
20433,Mazda,RX-8,2010,1.3,2.0,Automatic,Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150
21108,Mazda,RX-7,1987,1.3,2.0,Automatic,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
21118,Mazda,RX-7,1987,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,22,18,493.722222,1850
21126,Mazda,RX-7,1987,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
22637,Mazda,RX-8,2011,1.3,2.0,Manual 6spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,22,18,493.722222,2250
22638,Mazda,RX-8,2011,1.3,2.0,Automatic,Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,16,23,19,467.736842,2150
27782,BMW,i3 REX,2014,0.6,2.0,Automatic,Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
28615,BMW,i3 REX,2015,0.6,2.0,Automatic,Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
29922,BMW,i3 REX,2016,0.6,2.0,Automatic,Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,37.000000,1050
31339,Mazda,RX-7,1988,1.3,2.0,Automatic,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
31340,Mazda,RX-7,1988,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
31341,Mazda,RX-7,1988,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,22,18,493.722222,1850
32595,Mazda,RX-7,1989,1.3,2.0,Automatic,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
32596,Mazda,RX-7,1989,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,23,18,493.722222,1850
32597,Mazda,RX-7,1989,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
33868,Mazda,RX-7,1990,1.3,2.0,Automatic,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
33869,Mazda,RX-7,1990,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,23,18,493.722222,1850
33870,Mazda,RX-7,1990,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
35051,Mazda,RX-7,1991,1.3,2.0,Automatic,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,21,17,522.764706,1950
35052,Mazda,RX-7,1991,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,23,18,493.722222,1850
35053,Mazda,RX-7,1991,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
36268,Mazda,RX-7,1992,1.3,2.0,Automatic,Rear-Wheel Drive,Two Seaters,Regular,19.388824,15,22,17,522.764706,1950
36269,Mazda,RX-7,1992,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,23,18,493.722222,1850
37464,Mazda,RX-7,1993,1.3,2.0,Automatic,Rear-Wheel Drive,Two Seaters,Premium,18.311667,16,22,18,493.722222,2250
37465,Mazda,RX-7,1993,1.3,2.0,Manual 5spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,15,23,18,493.722222,2250

In [53]:
x = (data['cylinders']==0) & (data['displ']!=0)
x.value_counts()

False    36830
dtype: int64

In [54]:
data['cylinders'].value_counts()

4.0     14014
6.0     12859
8.0      8112
5.0       745
12.0      564
3.0       201
10.0      153
2.0        51
16.0        8
Name: cylinders, dtype: int64

In [80]:
data.loc[(data['cylinders']==0) & (data['displ']!=0), 'cylinders'] = 4

In [81]:
import numpy as np
low_variance = []

for col in data._get_numeric_data(): 
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)
print(minimum)

[]
550

In [57]:
data['barrels08'].min()

0.06000000000000001

In [58]:
data.describe()

,displ,cylinders,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
count,36710.000000,36707.000000,36830.000000,36830.000000,36830.000000,36830.000000,36830.000000,36830.000000
mean,3.324241,5.747187,17.518920,17.951290,24.135677,20.212354,472.833543,1882.746402
std,1.361252,1.755190,4.568703,6.709648,6.993962,6.664988,121.961054,510.453028
min,0.000000,2.000000,0.060000,6.000000,9.000000,7.000000,0.000000,550.000000
25%,2.200000,4.000000,14.330870,15.000000,20.000000,16.000000,386.391304,1500.000000
50%,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,8.400000,16.000000,47.087143,138.000000,111.000000,124.000000,1269.571429,5800.000000

In [59]:
stats = data.describe().transpose()
stats.head()

,count,mean,std,min,25%,50%,75%,max
displ,36710.0,3.324241,1.361252,0.00,2.20000,3.000000,4.300000,8.400000
cylinders,36707.0,5.747187,1.755190,2.00,4.00000,6.000000,6.000000,16.000000
barrels08,36830.0,17.518920,4.568703,0.06,14.33087,17.347895,20.600625,47.087143
city08,36830.0,17.951290,6.709648,6.00,15.00000,17.000000,20.000000,138.000000
highway08,36830.0,24.135677,6.993962,9.00,20.00000,24.000000,27.000000,111.000000

In [60]:
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
displ,36710.0,3.324241,1.361252,0.00,2.200000,3.000000,4.300000,8.400000,2.100000
cylinders,36707.0,5.747187,1.755190,2.00,4.000000,6.000000,6.000000,16.000000,2.000000
barrels08,36830.0,17.518920,4.568703,0.06,14.330870,17.347895,20.600625,47.087143,6.269755
city08,36830.0,17.951290,6.709648,6.00,15.000000,17.000000,20.000000,138.000000,5.000000
highway08,36830.0,24.135677,6.993962,9.00,20.000000,24.000000,27.000000,111.000000,7.000000
comb08,36830.0,20.212354,6.664988,7.00,16.000000,19.000000,23.000000,124.000000,7.000000
co2TailpipeGpm,36830.0,472.833543,121.961054,0.00,386.391304,467.736842,555.437500,1269.571429,169.046196
fuelCost08,36830.0,1882.746402,510.453028,550.00,1500.000000,1850.000000,2200.000000,5800.000000,700.000000

In [61]:
data1 = data.copy()

In [62]:
data.dtypes

make               object
model              object
year               object
displ             float64
cylinders         float64
trany              object
drive              object
VClass             object
fuelType           object
barrels08         float64
city08              int64
highway08           int64
comb08              int64
co2TailpipeGpm    float64
fuelCost08          int64
dtype: object

In [63]:
data.dtypes.value_counts()

object     7
float64    4
int64      4
dtype: int64

In [64]:
data['year'] = data['year'].astype('object')
data['year'].dtype

dtype('O')

In [65]:
print(set(data['trany']))

{'Manual 7spd', 'Automatic', 'Manual 3spd', 'Manual 4spd Doubled', 'Manual 5spd', 'Manual 5 spd', 'Manual M7', 'Manual 4spd', 'Manual 6spd'}

In [66]:
data['trany'] = data['trany'].str.replace('-', '')
print(set(data['trany']))

{'Manual 7spd', 'Automatic', 'Manual 3spd', 'Manual 4spd Doubled', 'Manual 5spd', 'Manual 5 spd', 'Manual M7', 'Manual 4spd', 'Manual 6spd'}

In [67]:
data['trany'] = data['trany'].str.replace('Automatic', 'Auto')
data['trany'] = data['trany'].str.replace('Auto\(', 'Auto ')
data['trany'] = data['trany'].str.replace('Manual\(', 'Manual ')
data['trany'] = data['trany'].str.replace('\(', '')
data['trany'] = data['trany'].str.replace('\)', '')
print(set(data['trany']))

{'Manual 7spd', 'Manual 3spd', 'Manual 4spd Doubled', 'Manual 5spd', 'Manual 5 spd', 'Manual M7', 'Manual 4spd', 'Auto', 'Manual 6spd'}

In [68]:
# data.loc[data['trany'].str.contains('Auto')]='Automatic'
# data.loc[data['trany'].str.contains('Manual')]='Manual'

In [69]:
import numpy as np
data['trany'] = np.where(data['trany'].str.contains('Auto'),"Automatic",data['trany'])
data['trany']

0        Manual 5spd
1        Manual 5spd
2        Manual 5spd
3          Automatic
4        Manual 5spd
5          Automatic
6        Manual 5spd
7          Automatic
8        Manual 5spd
9          Automatic
10       Manual 5spd
11         Automatic
12       Manual 5spd
13         Automatic
14         Automatic
15       Manual 5spd
16         Automatic
17       Manual 5spd
18         Automatic
19       Manual 5spd
20         Automatic
21         Automatic
22         Automatic
23         Automatic
24         Automatic
25       Manual 4spd
26         Automatic
27         Automatic
28         Automatic
29         Automatic
            ...
37813    Manual 5spd
37814      Automatic
37815    Manual 5spd
37816      Automatic
37817    Manual 5spd
37818      Automatic
37819      Automatic
37820    Manual 5spd
37821    Manual 4spd
37822    Manual 5spd
37823      Automatic
37824      Automatic
37825    Manual 4spd
37826    Manual 5spd
37827      Automatic
37828      Automatic
37829    Manual 5spd
37830    Manual 5spd
37831      Automatic
37832      Automatic
37833    Manual 5spd
37834      Automatic
37835      Automatic
37836    Manual 5spd
37837    Manual 5spd
37838      Automatic
37839    Manual 5spd
37840      Automatic
37841    Manual 5spd
37842      Automatic
Name: trany, Length: 36830, dtype: object

In [70]:
def change(x):
    x = x.lower()
    if 'auto' in x.split():
        x = 'Automatic'
    elif 'manual' in x.split():
        x = 'Manual'
    return(x)    
x = list(map(change, data['trany']))     
x[0:4]

['Manual', 'Manual', 'Manual', 'automatic']

In [71]:
# 'Manual' in data['trany'][0].split()
data['trany']

0        Manual 5spd
1        Manual 5spd
2        Manual 5spd
3          Automatic
4        Manual 5spd
5          Automatic
6        Manual 5spd
7          Automatic
8        Manual 5spd
9          Automatic
10       Manual 5spd
11         Automatic
12       Manual 5spd
13         Automatic
14         Automatic
15       Manual 5spd
16         Automatic
17       Manual 5spd
18         Automatic
19       Manual 5spd
20         Automatic
21         Automatic
22         Automatic
23         Automatic
24         Automatic
25       Manual 4spd
26         Automatic
27         Automatic
28         Automatic
29         Automatic
            ...
37813    Manual 5spd
37814      Automatic
37815    Manual 5spd
37816      Automatic
37817    Manual 5spd
37818      Automatic
37819      Automatic
37820    Manual 5spd
37821    Manual 4spd
37822    Manual 5spd
37823      Automatic
37824      Automatic
37825    Manual 4spd
37826    Manual 5spd
37827      Automatic
37828      Automatic
37829    Manual 5spd
37830    Manual 5spd
37831      Automatic
37832      Automatic
37833    Manual 5spd
37834      Automatic
37835      Automatic
37836    Manual 5spd
37837    Manual 5spd
37838      Automatic
37839    Manual 5spd
37840      Automatic
37841    Manual 5spd
37842      Automatic
Name: trany, Length: 36830, dtype: object

In [72]:
before = len(data)
data = data.drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [73]:
select_columns = ['make', 'model', 'year', 'displ', 'cylinders', 
                  'trany', 'drive', 'VClass','fuelType','barrels08', 
                  'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']

data = data[select_columns].drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0