# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [1]:
# import libraries

import pandas as pd
import numpy as np
import re

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set

pokemon = pd.read_csv('Pokemon.csv')

### Print first 10 rows of `pokemon`

In [3]:
# enter your code here

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [9]:
# enter your code here

# creation of concat columns --> concatenation of types
pokemon['concat'] = pokemon['Type 1'] + " " + pokemon['Type 2']

#retrieving unique combinations via set
set(pokemon['concat'])

{'Bug Electric',
 'Bug Fighting',
 'Bug Fire',
 'Bug Flying',
 'Bug Ghost',
 'Bug Grass',
 'Bug Ground',
 'Bug Poison',
 'Bug Rock',
 'Bug Steel',
 'Bug Water',
 'Dark Dragon',
 'Dark Fighting',
 'Dark Fire',
 'Dark Flying',
 'Dark Ghost',
 'Dark Ice',
 'Dark Psychic',
 'Dark Steel',
 'Dragon Electric',
 'Dragon Fairy',
 'Dragon Fire',
 'Dragon Flying',
 'Dragon Ground',
 'Dragon Ice',
 'Dragon Psychic',
 'Electric Dragon',
 'Electric Fairy',
 'Electric Fire',
 'Electric Flying',
 'Electric Ghost',
 'Electric Grass',
 'Electric Ice',
 'Electric Normal',
 'Electric Steel',
 'Electric Water',
 'Fairy Flying',
 'Fighting Dark',
 'Fighting Flying',
 'Fighting Psychic',
 'Fighting Steel',
 'Fire Dragon',
 'Fire Fighting',
 'Fire Flying',
 'Fire Ground',
 'Fire Normal',
 'Fire Psychic',
 'Fire Rock',
 'Fire Steel',
 'Fire Water',
 'Flying Dragon',
 'Ghost Dark',
 'Ghost Dragon',
 'Ghost Fire',
 'Ghost Flying',
 'Ghost Grass',
 'Ghost Poison',
 'Grass Dark',
 'Grass Dragon',
 'Grass Fairy',
 'Grass Fighting',
 'Grass Flying',
 'Grass Ground',
 'Grass Ice',
 'Grass Poison',
 'Grass Psychic',
 'Grass Steel',
 'Ground Dark',
 'Ground Dragon',
 'Ground Electric',
 'Ground Fire',
 'Ground Flying',
 'Ground Ghost',
 'Ground Psychic',
 'Ground Rock',
 'Ground Steel',
 'Ice Flying',
 'Ice Ghost',
 'Ice Ground',
 'Ice Psychic',
 'Ice Water',
 'Normal Fairy',
 'Normal Fighting',
 'Normal Flying',
 'Normal Grass',
 'Normal Ground',
 'Normal Psychic',
 'Normal Water',
 'Poison Bug',
 'Poison Dark',
 'Poison Dragon',
 'Poison Fighting',
 'Poison Flying',
 'Poison Ground',
 'Poison Water',
 'Psychic Dark',
 'Psychic Fairy',
 'Psychic Fighting',
 'Psychic Fire',
 'Psychic Flying',
 'Psychic Ghost',
 'Psychic Grass',
 'Rock Bug',
 'Rock Dark',
 'Rock Dragon',
 'Rock Fairy',
 'Rock Fighting',
 'Rock Flying',
 'Rock Grass',
 'Rock Ground',
 'Rock Ice',
 'Rock Psychic',
 'Rock Steel',
 'Rock Water',
 'Steel Dragon',
 'Steel Fairy',
 'Steel Fighting',
 'Steel Flying',
 'Steel Ghost',
 'Steel Ground',
 'Steel Psychic',
 'Steel Rock',
 'Water Dark',
 'Water Dragon',
 'Water Electric',
 'Water Fairy',
 'Water Fighting',
 'Water Flying',
 'Water Ghost',
 'Water Grass',
 'Water Ground',
 'Water Ice',
 'Water Poison',
 'Water Psychic',
 'Water Rock',
 'Water Steel',
 nan}

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
# enter your code here

pokemon['Name'].replace(to_replace="[\s\S]*.*(Mega)", value = r"Mega", regex = True, inplace = True)
pokemon.head(10)

# pokemon['new'] = pokemon['Name'].str.replace('Mega', " ")
# names = []
# for item in pokemon['new']:
#     x = item.split(' ')
#     names.append(x[0])
# pokemon['newCol'] = names
# pokemon    
    
    
# pokemon.groupby(['Name'])

# test transformed data

# pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,concat
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,NaN
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Fire Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Fire Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Fire Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,NaN

# Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [7]:
# enter your code here


pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,concat,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass Poison,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass Poison,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass Poison,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass Poison,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,1.209302

### Identify the pokemon with the highest `A/D Ratio`

In [10]:
# enter your code here

#Groupby -- name and maximum A/D Ratio
ad_ratio = pokemon.groupby('Name', as_index=False).agg({'A/D Ratio':'max'})

#Store sort_values of the Ratio, descending so its from greatest to least
highest = ad_ratio.sort_values('A/D Ratio', ascending = False)

highest.head(5)

                     Name  A/D Ratio
138    DeoxysAttack Forme      9.000
79               Carvanha      4.500
413         Mega Beedrill      3.750
117              Cranidos      3.125
4    AegislashBlade Forme      3.000

### Identify the pokemon with the lowest A/D Ratio

In [11]:
# enter your code here


#Groupby -- name and minimum A/D Ratio
ad_ratio = pokemon.groupby('Name', as_index=False).agg({'A/D Ratio':'min'})

#Store sort_values of the Ratio, ascending so its from smallest to greatest
lowest = ad_ratio.sort_values('A/D Ratio', ascending = True)

#taking the first value using .head
lowest.head(1)

        Name  A/D Ratio
629  Shuckle   0.043478

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [12]:
# enter your code here

pokemon['concat'] = pokemon['concat'].str.replace(" ", '-')
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,concat,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass-Poison,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass-Poison,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass-Poison,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass-Poison,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,NaN,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Fire-Flying,1.076923
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Fire-Dragon,1.171171
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Fire-Flying,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,NaN,0.738462

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [13]:
# enter your code here

top5 = highest.head(5)
top5

                     Name  A/D Ratio
138    DeoxysAttack Forme      9.000
79               Carvanha      4.500
413         Mega Beedrill      3.750
117              Cranidos      3.125
4    AegislashBlade Forme      3.000

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [14]:
# enter your code here

ad2 = pokemon.groupby(['Name','concat']).agg({'A/D Ratio':'max'})
highest2 = ad2.sort_values('A/D Ratio', ascending = False)
highest2.head(5)

                                   A/D Ratio
Name                 concat
Carvanha             Water-Dark     4.500000
Mega Beedrill        Bug-Poison     3.750000
AegislashBlade Forme Steel-Ghost    3.000000
Sharpedo             Water-Dark     3.000000
HoopaHoopa Unbound   Psychic-Dark   2.666667

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [15]:
# enter your code here

q = pokemon.set_index(['concat'])

numerical = pokemon[['Total','HP','Attack','Defense','Sp. Atk','Speed','Sp. Def','Generation','A/D Ratio']]

numerical.mean(axis=0)

Total         435.102500
HP             69.258750
Attack         79.001250
Defense        73.842500
Sp. Atk        72.820000
Speed          68.277500
Sp. Def        71.902500
Generation      3.323750
A/D Ratio       1.164547
dtype: float64

In [16]:
pokemon.groupby(['concat']).agg({'Total':'mean', 'HP':'mean', 'Attack':'mean', 'Defense':'mean', 'Sp. Atk':'mean', 'Sp. Def':'mean', 'Speed':'mean', 'Generation':'mean', 'Legendary':'mean', 'A/D Ratio':'mean'}).head(5)

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
concat,,,,,,,,,,
Bug-Electric,395.5,60.0,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0,1.111667
Bug-Fighting,550.0,80.0,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0,1.637681
Bug-Fire,455.0,70.0,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0,1.234266
Bug-Flying,419.5,63.0,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0,1.146274
Bug-Ghost,236.0,1.0,90.000000,45.000000,30.000000,30.000000,40.000000,3.000000,0.0,2.000000